*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.encabezado{
    background-color: rgb(6, 6, 59);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0 4rem;    
    height: 75px;
    
}

.titulo h1{
    padding-left: 6rem;
    font-size: 1.9rem;
    color: white;
    font-weight: bold;
}

.titulo h1 span {
    color: #1e90ff;
}

.menu nav a {
    
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding-right: 6rem;
    transition: 0.2s ease;
}

.menu nav a:hover{
    color: rgb(39, 39, 131);
}

.active {
    font-weight: bold ;
    transform: scale(2) ;
}

hr{
    border: none;
    height: 0.6rem;
    background-color: rgb(57, 73, 216);
}

.cuadro {
    background-color: rgb(46, 41, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    
}

.titulo3{
    color: white;
    font-size: 1.3rem;
}

.enviar input {
    padding: 10px;
    border: none;
    width: 240px;
    border-radius: 2px;
}

.enviar button {
    padding: 10px 20px;
    background-color: rgb(238, 58, 24) ;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 2px;
    transition: 0.2s ease;
}

.enviar button:hover {
    background-color: rgb(200, 40, 10);
}


.contenido2 {
    max-width: 100wh;
    height: 100%;
    display: flex;
    margin: 40px;
    justify-content: space-between;
    
}

.contenedoriz {
    width: 65%;
    height: 100%;
    margin-left: 200px;
}

.contenedoriz h3 {
    margin-bottom: 15px;
}

.cuadros {
    background: #e5e5e5;
    padding: 20px;
    height: 200px;
    margin-bottom: 15px;
}

.contenedorde {
    width: 35%;
    display: flex;
    align-items: flex-start;
    margin-left: 50px;
}

.cuadrito {
    background: #2f3a45;
    color: white;
    padding: 20px;
    width: 350px;
    height: 200px;
}

.cuadrito h3 {
    margin-bottom: 8px;
}




footer {
    margin-top: 100px;
    background-color: rgb(6, 116, 201);
    color: white;
    text-align: center;
    padding: 15px;
}

