*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.encabezado{
    background-color: rgb(6, 6, 59);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0 4rem;    
    height: 75px;
    
}

.titulo h1{
    padding-left: 6rem;
    font-size: 1.9rem;
    color: white;
    font-weight: bold;
}

.titulo h1 span {
    color: #1e90ff;
}

.menu nav a {
    
    font-size: 1rem;
    text-decoration: none;
    color: white;
    padding-right: 4rem;
    transition: 0.2s ease;
}

.menu nav a:hover{
    color: rgb(39, 39, 131);
}

.active {
    font-weight: bold ;
    transform: scale(2) ;
}

hr{
    border: none;
    height: 0.6rem;
    background-color: rgb(57, 73, 216);
}

.cuadro {
    background-color: rgb(46, 41, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    
}

.titulo3{
    color: white;
    font-size: 1.3rem;
}

.enviar input {
    padding: 10px;
    border: none;
    width: 240px;
    border-radius: 2px;
}

.enviar button {
    padding: 10px 20px;
    background-color: rgb(238, 58, 24) ;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 2px;
    transition: 0.2s ease;
}

.enviar button:hover {
    background-color: rgb(200, 40, 10);
}


.contenido2 {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

}

.contenedoriz{
    width: 65%;
    margin-left: 85px;
}

.contenedoriz h3 {
    margin-bottom: 20px;
}

.contenedorde {
    width: 390px;
    height: 220px;
    margin-right: 110px;
    background-color: rgb(80, 75, 75);
}

.cuadro1 {

    display: flex;
    flex-wrap: wrap;
    text-align: start;
    margin-top: 2rem;
    height: 150px;
    width: 62.5rem;
}

.cuadro2 {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: start;
    width: 1000px;
    height: 160px;
    background-color: gray;
    color: white;
}

.cuadroi{
    padding-top: 3rem;
    display: flex;
    width: 70vh;
    align-items: center;
}

.cuadro3 {
    padding: 10px;
}
.cuadro3 h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

footer {
    margin-top: 100px;
    background-color: rgb(6, 116, 201);
    color: white;
    text-align: center;
    padding: 15px;
}
